__pycache__/
*.pyc
*.pyo
*.pyd
.venv/
.env/
.vscode/
sample/
images/
study/Excel_Auto_Py/sample
study/Game_Ch_Py/py_sample
study/HTML_CSS_1/sample
study/HTML_CSS_2/sample
study/JavaScript/sample
study/Flask/venv